.NavBar{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    font-family: cursive;
    font-size: 25px;
    margin: 30px;

}

.ItemHeader{
    font-family: fantasy;
    font-size: 50px;
    color: #922929;
    background-color: #A9A9A9;
    text-decoration: none;
    list-style-type: none;
}

