.Info{
    font-family: cursive;
    font-size: 20px;
}

.CardItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    padding: 10px;
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.7))
}



